
/************************ OTRA COSA ************************/
/************************ BOTONES ************************/
button {
    border: 2px solid #4CAF50;
    background-color: white;
    color: black;
    transition: 0.5s;
}

button:hover {
    background-color: #4CAF50;
    color: white;
    transition: 0.5s;
}
input[type=submit] {
    border: 2px solid #4CAF50;
    background-color: white;
    color: black;
    transition: 0.5s;
}

input:hover[type=submit] {
    background-color: #4CAF50;
    color: white;
    transition: 0.5s;
}

/************************ LISTAS DE LA IZQUIERDA DE PERSONAS ************************/
#listHeader {
    font-weight: bold;
    background-color: #28a745;
    color: white;
    padding-left: 5px;
    padding-right: 5px;        
}
#listElement{
    color: black;
    transition-duration: 0.5s;
}
#listElement:hover{
    color: #28a745;
}

/************************ EFECTO HOVER EN LAS IMÃGENES ************************/

img{
    transition: 0.5s;
}
img:hover {
    opacity: 0.8;
}  

/************************ PONER LAS IMAGENES COMO INPUT DE FILES ************************/

#image-upload>input {
    display: none;
}

